.listElement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1px;
  background-color: rgb(172, 214, 200);
}
.task {
  display: flex;
  flex-direction: row;
}
.delete-button {
  background-color: rgb(99, 141, 127);
  border: 1px solid rgba(27, 31, 35, 0.15);
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  width: 100px;
}

.delete-button:hover {
  background-color: #ff3c3c;
}

.delete-button:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
}

.delete-button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
}

.delete-button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
