/* You can add global styles to this file, and also import other style files */
body{
    max-width: 900px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: content-box;
    margin: auto;
}
